body{
    background-color:aquamarine;
}

h3 {
    color: brown;

}

#main_content {
    align-content: center;
}

.board {
    font-size: large;
    font-weight: bolder;
}

.square {
    padding: 5%;
    text-align: center;
}