body{
    background-color: #cee5ef;
}

h3 {
    color: brown;
}

#main_content {
    margin-top: 10px;
    align-content: center;
}

.board {
    font-size: large;
    font-weight: bolder;
}

.square {
    padding: 5%;
    text-align: center;
}