body{
    background-color: #cee5ef;
}

h3 {
    color: brown;
}

#main_content {
    margin-top: 10px;
    align-content: center;
}

.container {
    width: 750px;
    clear: both;
}

.container input {
    width: 100%;
    clear: both;
}
.logout {

}