<html>
<head>
    <title>{{question.title}}</title>
    <!-- CSS -->
    <link href="stylesheets/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.bundle.min.js"></script>
</head>

<body>
<div id="main_content" class="container">
    <h3>Logout from StackOverflow-mini</h3>
    <div>
            {{#if logged_in}}
                <p>Hi, {{user_name}}. Enter your question here:</p>
            {{else}}
                <p>Please, login.</p>
            {{/if}}
    </div>
    <div>
        {{#if logged_in}}
            <form method="post" target="_blank">
                Title: <input type="text" name="title"><br>
                Body: <input type="text" name="body"><br>
                Tags: <input type="text" name="tags"><br>
                <input class="btn btn-success my-2 my-sm-0"  type="submit" value="Submit">
            </form>
        {{else}}
            <a href="/login" class="col-sm-auto btn btn-info">Log In</a>
        {{/if}}
    </div>
</div>
</body>

</html>