<html>

<head>
    <title>Stack Trace Exception</title>

    <!-- CSS -->
    <link href="stylesheets/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.bundle.min.js"></script>
    <script src="javascript/index.js"></script>
</head>

<body>
<div id="main_content" class="container">
    <nav class="row">
        <h3 class="col">Stack Trace Exception</h3>
        {{#if logged_in}}
            <button href="/logout" class="col-sm-auto btn btn-info" onclick="logout()">Logout</button>
        {{else}}
            <a href="/login" class="col-sm-auto btn btn-info">Login</a>
        {{/if}}
    </nav>
    <div>
        <form class="form-inline" id="search" method="post" action="" onsubmit="search();return false">
            <a href="/add" style="margin-right: 5px" class="btn btn-info">Add question</a>
            <input class="form-control mr-sm-2" id="search_bar" type="search" placeholder="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <ul class="list-group" id="results">

    </ul>
</div>
</body>

</html>