<html>

<head>
    <title>Tic Tac Toe</title>

    <!-- CSS -->
    <link href="stylesheets/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.bundle.min.js"></script>
    <script src="javascript/index.js"></script>
</head>

<body>
<div id="main_content" class="container">
    <h3>Stack Trace Exception</h3>
    <div>
        <form id="search" method="post" action="" onsubmit="search();return false">
            <input type="search" placeholder="Search">
            <input type="submit">
        </form>
    </div>
    <div id="results">

    </div>
</div>
</body>

</html>