<html>

<head>
    <title>{{username}}</title>

    <!-- CSS -->
    <link href="stylesheets/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.bundle.min.js"></script>
    <script src="javascript/index.js"></script>
    <script src="javascript/user.js"></script>
</head>

<body>
<div id="main_content" class="container">
    <nav class="row">
        <a href="/" class="col"><h3>Stack Trace Exception</h3></a>
        {{#if logged_in}}
            <button href="/logout" class="col-sm-auto btn btn-info" onclick="logout()">Logout</button>
        {{else}}
            <a href="/adduser" class="col-sm-auto btn btn-info" style="margin-right: 5px">Sign-Up</a>
            <a href="/login" class="col-sm-auto btn btn-info">Login</a>
        {{/if}}
    </nav>
    <div>
        <h4>Email: {{user.email}}</h4>
        <h4>Reputation: {{user.reputation}}</h4>
    </div>
    <div id="questions">
        <h5>Questions this user asked: </h5>
        <ul class="list-group questions">

        </ul>
    </div>
    <div id="answers">
        <h5>Answers from this user: </h5>
        <ul class="list-group answers">

        </ul>
    </div>
</div>
</body>

</html>